@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

:root{
    --dark: #141212;
    --light: #F6F6F6;
    --beige: #E8DED1;
    --warning: #ffc107;
}
.bg-dark{
    background-color: var(--dark);
}
.bg-light{
    background-color: var(--light);
}
.bg-white{
    background-color: white;
}
.text-light{
    color: white;
}
.text-dark{
    color: black;
}
.btn-dark{
    background-color: var(--dark);
    border: 2px solid transparent;
    padding: 5px 22px;
    border-radius: 12px;
    transition: 0.4s;
    color: white;
    text-align: center;
}
.btn-dark:hover{
    border: 2px solid var(--dark);
    cursor: pointer;
    transform: scale(1.05);
}

html,
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.container{
    box-sizing: border-box;
    width: 100%;
    padding: 5px 2%;
}

@media screen and (min-width: 1300px) {    
    .banner-container{
        width: 70%;
    }
    .banner-descriptionBox{
        width: 50%;
    }
}
@media screen and (max-width: 1300px) {
    .banner-container-img{
        display: none;
    }
    
    .banner-container{
        width: 70%;
    }
    .banner-descriptionBox{
        width: 100%;
    }
}
/* Navbar */
.navbar{
    width: 100%;
    border-bottom: #141212 0.5px solid;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    max-height: 60px;
}
.navbar-menu li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
    padding-right: 20px;
}
.navbar-container{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    box-sizing: border-box;
}
/* Banner */
.banner{
    background-color: var(--light);
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;  
}
.banner-container{
    display: flex;
    max-width: 100%;
    border-bottom: 2px black solid;
    justify-content: center;
}
.banner-container-img{
    height: 300px;
    width: 50%;
    overflow: hidden;
    
}
.banner-container-img img{
    height: 300px;
    width: 100%;
    float: right;
}
.banner-descriptionBox{
    max-width: 100%;
    height: 300px;
    z-index: 2;
    text-align: center;
    box-sizing: border-box;
    padding: 40px 10px 20px 10px
}

/* SearchBar */
.searchbar{
    width: 80%;
    padding: 8px 3%;
    height: 15px;
    border-radius: 15px;
    margin-top: 5px;
    border: 2px solid black;
}

/* Figure */
.figure{
    position: relative;
    width: 170px;
    text-align: center;
    margin: 0px 10px 10px 10px;
    display: flex;
    justify-content: center;

}
.figure .content{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 22px;
    background-color: white;  
    transition: width 0.5s, height 0.5s;
}
.figure .content:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 300px;
    height: auto;
    position: absolute;
    z-index: 2;

}
.figure .content .imgBx{
    width: 170px;
    height: 240px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.7s ease-in-out;
}
.figure .content:hover .imgBx{
    transform: translate(0,-10px);
}
.figure .content .imgBx img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 15px;
}
.figure .content .description{
    margin: 5px 10px;
    color: grey;
    position: absolute;
    visibility: hidden;
    z-index: -1;
    
    height: 100%;
    opacity : 0;
    transition : 0.3s ease-in-out;
}
.figure .content:hover .description{
    position: relative;
    visibility : visible;
    opacity : 1;
    transition-delay: 0.4s;
}
.figure .content .description .synopsis{
    font-size: 0.9rem;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.read-more { 
    position: absolute; 
    bottom: 0; 
    left: 0;
    width: 100%; 
    text-align: center; 
    margin: 0; padding: 12px 0; 
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;     
    /* "transparent" only works here because == rgba(0,0,0,0) */
    background-image: linear-gradient(to bottom, transparent, white);
  }
.figure .content .description .option{
    font-size: 0.9rem;
    padding-top: 30px;
    width: 70%;
    justify-content: space-evenly;
    display: flex;
    color: black;
    transform: translateX(22%);    
    
}
.figure .content .description .option #item+#item{
    margin-left: 26%;
}
.figure .content .description .option .heart{
    color: black;
    font-size: 1.5rem;
    cursor: pointer;
}

.figure .content .description .genre+.genre{
    margin-left: 5%;
    margin-top: 2%;
}
/*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/

@media screen and (max-width: 810px) {
    .listFigure .figure:last-child{
        display: none;
    }
}

/* SliderList */
.listFigure{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}
.more:hover{
    background: var(--dark);
    color: white;
}
.more{
    transition: 0.1s ease-in-out;
    padding: 2px 10px;
    border-radius: 12px;
}
