@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap');

:root{
    --dark: #1A1717;
    --light: #F6F6F6;
    --beige: #E8DED1;
}
.btn-dark{
    background-color: var(--dark);
    border: 2px solid transparent;
    max-width: 70px;
    font-weight: bold;
    padding: 8px 22px;
    border-radius: 30px;
    transition: 0.4s;
    margin: auto;
    color: white;
    text-align: center;
}
.btn-dark:hover{
    border: 2px solid var(--dark);
    cursor: pointer;
    transform: scale(1.05);
}

/* Header */
.banner{
    background-color: var(--light);
    width: 100%;
    height: 300px;
    position: relative;
}
.banner-topNavbar{
    z-index: 1;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.banner-topNavbar-Logo{
    text-decoration: none;
    color: black;
    font-size: x-large;
}
.banner-topNavbar-menu{
    list-style: none;
    text-align: center;
}
.banner-topNavbar-menu li{
    color: black;
    padding-right: 20px;
    font-size: large;
    display: inline-block;
}
.banner-topNavbar-menu li > *{
    color: black;
}
.banner-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.banner-container img{
    max-height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 50px;
}
.banner-descriptionBox{
    max-width: 400px;
    position: absolute;
    top: 40%;
    left: 20%;
    z-index: 2;
}

/* Searchbar */
.searchbar{
    width: 100%;
    padding: 8px 3%;
    height: 15px;
    border-radius: 15px;
    margin-top: 5px;
}